
	html{
		height: 100%;
	}

	body{
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	/*HEADER*/

	header{
		background-color: hsl(60, 20%, 80%);
		margin-bottom: 10px;
		padding: 7px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1{
		padding: 5px;
	}

	header button{
		height: 45px;
	}

	/*NAV*/
	
	nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
		padding: 7px;
	}

	#compileBtn{
		margin-right: 5px;
	}

	/* STATUS */

	.statusWrapper{
		padding-left: 5px;
	}

	#statusOk{
		color: #170;
	}

	#statusError{
		color: #a11;
		display: none;
	}

	/*MAIN AREA*/

	.mainArea{
		display: grid;
		grid-template-areas:
		'edition result'
		'document result';
		grid-column-gap: 7px;
		grid-row-gap: 14px;
		margin-bottom: 20px;
	}

	.container{
		margin: 0;
		padding: 0;

	}

	h6{
		background-color: hsl(60, 20%, 80%);
		padding: 5px;
		font-size: 20px;
	}

	.boxWrapper{
	}

	.textWrapper{
		padding: 10px;
		display: flex;
		justify-content: center;
	}

	textarea{
		resize: none;
		width: 97%;
		padding: 2px;
		height: 250px;
	}

	#RA{
		height: 400px;

	}

	.editionArea{
		grid-area: edition;
	}

	.documentArea{
		grid-area: document;
	}

	.resultArea{
		grid-area: result;
	}

	/*FOOTER*/

	footer{
		margin-top: auto;
		text-align: center;
		background-color: hsl(60, 20%, 80%);
		padding: 15px;
	}

	footer p{
		margin: 0;
	}